* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
canvas {
    width: 100%;
    height: 100%;
    /* border: solid 0.5px rgb(190, 190, 190); */
    position: relative;
}
.floor {
    position: absolute;
    background-color: #795548;
    width: 100%;
    height: 200px;
    bottom: 0;
}